.information {
  padding-top: 100px;
  background-color: #fff;
  position: relative;
  z-index: 3;
}

.information__left {
  margin-bottom: 50px;
  border: 1px solid #e7e5ea;
  background: #fff;
  border-radius: 5px;
}

.information__left--border {
  border: none;
}

.information__img {
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    transition: 0.5s;
    vertical-align: middle;
  }
}

.information__img:hover {
  img {
    transform: scale(1.1);
  }
}

.information__owner {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 39px 40px;
}

.information__avt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.information__name {
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.information__day {
  color: #7b88a8;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.4px;
}

.information__title {
  padding: 0px 40px 0px 40px;
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: -1px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.information__text {
  padding: 30px 40px 0px 40px;
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  overflow: hidden;
  // display: -webkit-box;
  // -webkit-line-clamp: 3;
  // -webkit-box-orient: vertical;
}

.information__button {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 43px;
}

.information__pagination {
  gap: 46px;
  padding-top: 16px;
  padding-bottom: 100px;
  display: flex;
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.information__two {
  display: flex;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #4f77ff;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.information__number {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 5px;
}

.information__number:hover {
  color: #fff;
  background: #4f77ff;
  transition: 0.5s;
}

.information__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.information__right-bg {
  background: #f8fafc;
  // background: rgb(231, 137, 137);
  border-radius: 5px;
}

.information__top {
  padding-bottom: 80px;
  padding-left: 55px;
}

.information__right-title {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
  padding-top: 20px;
  padding-bottom: 28px;
}

.information__input {
  border-radius: 5px;
  border: 1px solid #e7e5ea;
  background: #fff;
  width: 210px;
}

.information__input input {
  border: none;
  border-radius: 5px;
  padding: 15px 0px 15px 20px;
  width: 170px;
}

.information__new {
  padding-left: 55px;
}

.information__latest {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}

.information__latest-text {
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 1.71;
  padding-right: 29px;
}

.information__categories {
  padding-left: 55px;
  padding-top: 80px;
  padding-bottom: 30px;
}

.information__select select {
  width: 210px;
  height: 48px;
  border: 1px solid #e7e5ea;
  background-color: #fff;
  border-radius: 5px;
  padding-left: 15px;
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
}

.information__tag {
  padding-top: 20px;
  padding-left: 55px;
  padding-bottom: 30px;
}

.information__tag-top {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
  padding-bottom: 30px;
  padding-left: 80px;
}

.information__tag-bottom {
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.information__tag-item {
  padding: 3px 9px 3px 9px;
  border-radius: 6px;
  background: #4f77ff;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: -0.3px;
}

.information__tag-item:hover {
  background-color: #314791;
  transition: 0.5s;
  cursor: pointer;
}

.information__archive {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 55px;
}

.information__subscribe-title {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  width: 170px;
}

.information__center {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  top: -330px;
  align-items: center;
  gap: 40px;
}

.information__subscribe-bg {
  position: relative;
}

.information__subscribe-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #321370;
  top: 0;
  left: 0;
  opacity: 0.7;
  border-radius: 5px;
}

.information__text--outstanding {
  color: #2d3958;
  padding-bottom: 10px;
}

.information__img--width {
  padding: 40px 40px 0px 40px;
  img {
    width: 100%;
  }
}

.information__text span {
  color: #4f77ff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
}

.information__text--right {
  padding-right: 70px;
}

.information__excerpt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information__excerpt-text {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
  padding: 70px 170px 70px 95px;
}

.information__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}

.information__bottom-button {
  display: flex;
  gap: 5px;
}

.information__bottom-icon {
  display: flex;
  gap: 15px;
}

.information__line {
  height: 1px;
  width: 100%;
  opacity: 0.3;
  background: #7b88a8;
  flex-shrink: 0;
}

.information__articles {
  padding-top: 70px;
  padding-left: 40px;
}

.information__left-title {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
  padding-bottom: 30px;
}

.information__articles-content {
  display: flex;
  gap: 32px;
  padding-top: 30px;
  padding-bottom: 100px;
}

.information__articles-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.information__articles-img {
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    height: 250px;
    transition: 0.5s;
    vertical-align: middle;
  }
}

.information__articles-img:hover {
  img {
    transform: scale(1.1);
  }
}

.information__articles-name {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
}

.information__comment {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 43px;
  border: 1px solid rgba(97, 119, 152, 0.2);
  background: #fff;
}

.information__comment-left {
  min-width: 80px;
}

.information__comment-col {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

.information__comment-info {
  display: flex;
  justify-content: space-between;
}

.information__comment-name {
  color: #333;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.information__comment-day {
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;

  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.4px;
}

.information__comment-content {
  padding-top: 20px;
  padding-bottom: 43px;
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
}

.information__comment-bottom {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.information__comment-reply {
  color: #4f77ff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  padding-left: 2px;
}

.information__comment-padding {
  padding-left: 180px;
}

.information__write {
  padding-top: 40px;
}

.information__write-input {
  display: flex;
  gap: 20px;
}

.information__write-input input {
  width: 305px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e7e5ea;
  background: #fff;
  padding-left: 17px;
}

.information__write-comment {
  padding-top: 20px;
  padding-bottom: 30px;
}

.information__write-comment input {
  width: 955px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e7e5ea;
  background: #fff;
  padding-bottom: 120px;
  padding-left: 20px;
}

.information__write-button {
  padding-bottom: 40px;
}

.information__category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information__category-item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.information__category-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  span {
    display: block;
    background-color: #e7e5ea;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    svg {
      display: none;
      position: relative;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      top: 2px;
      left: 1.5px;
    }
  }

  input {
    display: none;
    &:checked {
      ~ span {
        background-color: rgb(0, 0, 0);
        svg {
          display: block;
        }
      }
    }
  }
}

.information__category-item-checkbox input {
  background-color: black;
}

.information__category-item-checkbox {
  width: 15px;
  height: 19px;
}

.information__category-item-checkbox label {
  position: relative;
  top: -26px;
  left: 2px;
}

.information__category-left {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 20px;
  gap: 16px;
}

.information__category-left-item {
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.3px;
  padding-left: 10px;
}

.information__brand {
  padding-top: 50px;
}

.information__brand-left {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 16px;
}

.information__price {
  padding-top: 50px;
}

.information__price-line {
  display: flex;
  padding-top: 36px;
}

.information__price-line-blue {
  height: 2px;
  width: 90%;
  background: #4f77ff;
  flex-shrink: 0;
}

.information__price-line-gray {
  height: 2px;
  width: 10%;
  background: #e7e5ea;
  flex-shrink: 0;
}

.information__price-line-blue {
  position: relative;
}

.information__price-line-blue::before {
  content: "";
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #4f77ff;
  position: absolute;
  right: 0;
  bottom: -4px;
}

.information__price-line-gray {
  position: relative;
}

.information__price-line-gray::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #4f77ff;
  position: absolute;
  right: 0;
  bottom: -4px;
}

.information__price-center {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.information__price-center span {
  color: #333;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.3px;
}

.information__price-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.information__price-limit {
  color: #888682;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.information__price-limit--blue {
  color: #4f77ff;
}

.information__right-body {
  padding-bottom: 40px;
}

.information__right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.information__right-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-top: 30px;
}

.information__right-price {
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
}

.information__right-name {
  color: #2d3958;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
}

.information__pagination--distance {
  padding-top: 40px;
  padding-bottom: 120px;
}

.information__left-imgs {
  display: flex;
  gap: 30px;
}

.information__right-zoom {
  position: relative;
  top: -650px;
  left: 625px;
}

.information__left--border {
  border: none;
}

.information__right--padding {
  padding-left: 100px;
}

.information__right-name--size {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.84px;
  padding-top: 12px;
  text-align: left;
}

.information__right-form {
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
}

.information__right-start {
  padding-top: 10px;
  padding-bottom: 14px;
}

.information__text--width {
  padding: 0;
  width: 470px;
}

.information__text--width p {
  padding-bottom: 30px;
}

.information__right-title--padding {
  padding-top: 6px;
  padding-bottom: 0px;
}

.information__right-box {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.information__right-quantity {
  width: 98px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e7e5ea;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.information__right-increase {
  position: relative;
  top: 7px;
}

.information__right-reduce {
  position: relative;
  top: -3px;
}

.information__right-number {
  color: #7b88a8;
  padding-left: 34px;
  padding-right: 25px;
}

.information__right-operation {
  display: flex;
  gap: 10px;
}

.information__right-bottom {
  padding-top: 30px;
  padding-bottom: 50px;
}

.information__right-sectors {
  display: flex;
  gap: 20px;
  padding-top: 13px;
  padding-bottom: 19px;
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.4px;
}

.information__right-sectors span {
  color: #4f77ff;
}

.information__menu ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 16px;
}

.information__menu-item {
  display: flex;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
}

.information__menu-item a {
  color: #2d3958;
  text-decoration: none;
}

.information__menu-item a:hover {
  transition: 0.3s;
  color: #204de0;
}

.information__description {
  padding-top: 10px;
  padding-bottom: 60px;
}

.information__menu__svg {
  position: relative;
  top: -50px;
  left: 45px;
}
