.office {
  background-color: #f7f5f1;
  z-index: -1;
  position: relative;
  height: 1300px;
}

.office__title span {
  background: linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.office__title {
  text-align: center;
  padding-left: 230px;
  padding-right: 231px;
  padding-top: 110px;
  color: var(--text-heading, #2d3958);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
}

.office__text {
  color: #7b88a8;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
  padding-top: 30px;
  padding-bottom: 80px;
}

.office__item {
  background-color: #fff;
  padding: 60px 100px 40px 100px;
  border-radius: 20px;
}

.office__item-space {
  color: #4f77ff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
  padding-bottom: 30px;
}

.office__item-title {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: -1px;
  padding-bottom: 30px;
}

.office__item-text {
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
  padding-bottom: 40px;
}

.office__item-more {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 55px;
}

.office__item-more-text {
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.office__item-more-icon {
  width: 16.354px;
  height: 16px;
  flex-shrink: 0;
}

.office__item-bottom {
  position: relative;
  width: 40px;
}

.office__item-left::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: #4f77ff;
  left: 228px;
  border-radius: 5px 0 0 5px;
}

.office__item-left::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: rgb(182, 181, 181);
  right: -228px;
  border-radius: 0 5px 5px 0;
}

.office__item-center::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(182, 181, 181);
  left: 275px;
  border-radius: 6px;
}

.office__item-right {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(182, 181, 181);
  left: 320px;
  border-radius: 6px;
}

.office__item-title {
  position: relative;
}

.office__item-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #ffc623;
  top: 70px;
  right: -168px;
  border-radius: 50px 50px 50px 0px;
}

.office__item-img {
  padding-left: 50px;
  padding-top: 25px;
  border-radius: 20px;
}

.office__item-img-bottom {
  position: relative;
  top: -200px;
  padding-left: 30%;
  z-index: -1;
}

.office__item-img-bottom::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-color: #886cff;
  bottom: 0;
  right: -115px;
  border-radius: 50px 50px 50px 0px;
}

.office__title--extend {
  padding-left: 166px;
  padding-right: 166px;
  padding-bottom: 100px;
}

.office__img-top {
  border-radius: 40px;
  width: 100%;
}

.office__name {
  color: #4f77ff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.office__name-box {
  position: relative;
}

.office__name-box::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  top: -80px;
  left: -90px;
  background-color: #4f77ff;
  border-radius: 50px 50px 0px 50px;
}

.office__text--extend {
  padding: 30px 370px 90px 370px;
}

.office__button {
  display: flex;
  justify-content: center;
}


.featured__left-img {
  border-radius: 20px;
  overflow: hidden;
  img {
    border-radius: 20px;
    width: 100%;
    transition: 0.5s;
    vertical-align: middle;
  }
}

.featured__left-img:hover {
  img {
    transform: scale(1.1);
  }
}

.featured__left-img--radius {
  border-radius: 40px;
}