.project {
  padding-top: 120px;
  padding-bottom: 120px;
}

.project__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 76px;
}

.project__title {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
}

.project__body {
    display: flex;
    gap: 30px;
}

.project__item {
  cursor: pointer;
    border-radius: 16px;
    width: 100%;
    img {
        border-radius: 16px;
    }
}

.project__item-top {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
}

.project__item-bottom {
  color:#e7e5ea;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
}

.project__item-text {
    position: relative;
    top: -370px;
}

.project__item--blue {
    background-color: #6A55F1;
}