.background {
    background-image: url(../img/Hero.png);
    background-repeat: no-repeat;
}

.background-buttom {
    background-image: url(../img/CTA.png);
    background-repeat: no-repeat;
    @media (max-width: 576px) {
        background-image: none;
    }
}

.background-contact {
    background-image: url(../img/imgbuttom.png);
    background-repeat: no-repeat;
}