.banner {
  padding-top: 200px;
  padding-bottom: 190px;
  text-align: center;
}

.banner__extend {
  padding-bottom: 375px;
}

.banner__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner__title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
  @media (max-width: 992px) {
    font-size: 45px;
  }
}

.banner__title--extend {
  font-size: 72px;
  width: 720px;
  span {
    background: linear-gradient(186deg, #61dcdf 0.38%, #886cff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.banner__text {
  padding-top: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.banner__text a {
  text-decoration: none;
  color: #2d3958;
}

.banner__text--extend {
  color: #7b88a8;
  width: 589.302px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.3px;
  text-transform: unset;
}

.banner__text span {
  padding-left: 7px;
  color: #7b88a8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.banner__text {
  span {
    a {
      color: #7b88a8;
    }
  }
}

.banner__bottom {
  padding-top: 70px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.banner__bottom-box {
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;
  svg {
    position: relative;
    top: 15px;
    left: 1px;
  }
}

.banner__bottom-box.bg-green {
  background-color: rgb(194, 246, 250);
}

.banner__bottom-text {
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
