.button {
  display: flex;
  width: 129px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 12px 13px 12px;
}

.button--blue {
  background: #4f77ff;
  text-align: center;
}

.button--gray {
  color: #7b88a8;
  background-color: #e7e5ea;
}

.button--services {
  width: 209px;
  border-radius: 5px;
  background: #4f77ff;
  text-align: center;
  font-family: "Outfit";
}

.button:hover {
  background-color: #374e97;
  transition: 0.3s;
}

.button--purple {
  background-color: #886cff;
  border-radius: 5px;
}
