.coworking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: unset;
  padding-top: 120px;
  padding-bottom: 120px;
}

.coworking__title {
  padding-bottom: 30px;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
  width: 69%;
  @media (max-width: 992px) {
    width: 100%;
    font-size: 40px;
  }
  @media (max-width: 576px) {
    font-size: 34px;
  }
  @media (max-width: 375px) {
    font-size: 30px;
  }
}

.coworking__text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
}

.coworking__button {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
