.featured {
  padding: 120px 90px 130px 90px;
  @media (max-width: 1200px) {
    padding: 120px 0px 130px 0px;
  }
  @media (max-width: 375px) {
    padding: 30px 40px 30px 40px;
  }
}

.featured__reverse {
  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    padding: 0px 55px 0px 55px;
  }
  @media (max-width: 576px) {
    padding: unset;
  }
}

.featured__left-information {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.featured__left-address {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  a {
    text-decoration: none;
    color: #2d3958;
  }
}

.featured__left-price {
  padding-bottom: 25px;
  text-align: right;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
}

.featured__left-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
  width: 100%;
  a {
    text-decoration: none;
    color: #7b88a8;
  }
}

.featured__right {
  padding-left: 100px;
  @media (max-width: 1200px) {
    padding-left: unset;
  }
}

.featured__right-title {
  padding-top: 62px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.84px;
  width: 100%;
  @media (max-width: 576px) {
    font-size: 33px;
  }
  @media (max-width: 375px) {
    font-size: 30px;
  }
}

.featured__right-text {
  width: 97%;
  padding-top: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
}

.featured__right-view {
  padding-top: 60px;
  color: #886cff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
}

.featured__right-view:hover {
  cursor: pointer;
  color: rgb(1, 1, 168);
  svg {
    path {
      stroke: rgb(1, 1, 168);
    }
  }
}

.featured__right-bottom {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 98px;
  @media (max-width: 375px) {
    padding-top: 50px;
  }
}

.featured__right-bottom-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #e7e5ea;
  cursor: pointer;
}

.featured__right-bottom-item:hover {
  border: none;
  transition: 0.5s;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.20);
  svg {
    path {
      stroke: #2D3958;
    }
  }
}

.featured__left-img {
  border-radius: 20px;
  overflow: hidden;
  img {
    border-radius: 20px;
    width: 100%;
    transition: 0.5s;
    vertical-align: middle;
  }
}

.featured__left-img:hover {
  img {
    transform: scale(1.1);
  }
}

.featured__left-af {
  position: relative;
}

.featured__left-af::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #61dcdf;
  left: -90px;
  bottom: 0px;
  border-radius: 50px 50px 0px 50px;
  @media (max-width: 1200px) {
    width: 0;
    height: 0;
  }
}
