.header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header.active {
  transition: 0.5s;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgb(184, 181, 181);
}

.header__row {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 177px;
  @media (max-width: 1200px) {
    gap: 0px;
  }
}

.header__left {
  display: flex;
}

.header__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.4px;
  padding-top: 7px;
  padding-left: 7px;
}

.header__overlay {
  display: flex;
  gap: 100px;
  @media (max-width: 1200px) {
    position: fixed;
    height: 100vh;
    width: 0;
    z-index: 92;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 0.5s ease-out;
    display: flex;
    flex-direction: column;
  }
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu ul {
  display: flex;
  gap: 50px;
  @media (max-width: 1200px) {
    padding-top: 200px;
    flex-direction: column;
  }
}

.header__item {
  display: flex;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.header__item a {
  color: #7b88a8;
  text-decoration: none;
  transition: 0.3s;
}

.header__item p {
  color: #2d3958;
}

.header__item a:hover {
  color: #2d3958;
}

.header__action {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.header__action svg {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.header__showbtn {
  display: none;
  @media (max-width: 1200px) {
    display: block;
    cursor: pointer;
    padding: 10px;
  }
}

.header__line {
  @media (max-width: 1200px) {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
}

.header__closebtn {
  display: none;
  @media (max-width: 1200px) {
    display: block;
    position: absolute;
    right: 45px;
    font-size: 60px;
    color: #2d3958;
    cursor: pointer;
  }
}

.header__box--green p {
  color: #2d3958;
}

.header__box--green {
  position: relative;
}

.header__box--green::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  background-color: #34c635;
  top: -25px;
  border-radius: 50%;
  right: 50%;
  transform: translateX(50%);
}

.header__cart {
  position: relative;
}

.header__cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  top: 0px;
  right: 0px;
  background-color: #ef3737;
  border-radius: 50%;
  border: 1px solid #fff;
}
