.people {
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e7e5ea;
  background: #fff;
}

.people:hover {
  transition: 0.5s;
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
}

.people__img img {
  border-radius: 50%;
}

.people__name {
  padding-top: 5px;
  color: #2d3958;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
}

.people__brand {
  color: #7b88a8;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
}

.people__amazing {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #2d3958;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
}

.people__text {
  color: #7b88a8;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
}
