.productdetail {
  padding-top: 100px;
  padding-bottom: 100px;
}


.productdetail__img {
  position: relative;
}

.productdetail__imgs {
  display: flex;
  gap: 30px;
  padding-top: 30px;
  @media (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.productdetail__img-hover {
  overflow: hidden;
  img {
    width: 100%;
    transition: 0.5s;
  }
}

.productdetail__img-hover:hover {
  img {
    transform: scale(1.1);
  }
}

.productdetail__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 100px;
  padding-bottom: 100px;
  @media (max-width: 500px) {
    padding-left: 0;
  }
}

.productdetail__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.84px;
  padding-top: 12px;
  text-align: left;
}

.productdetail__form {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
}

.productdetail__star {
  padding-top: 10px;
  padding-bottom: 14px;
}

.productdetail__text {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  p {
    padding-bottom: 30px;
  }
  span {
    color: #4f77ff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}

.productdetail__padding {
  padding-top: 6px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
}

.productdetail__round {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.productdetail__box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e7e5ea;
  cursor: pointer;
}

.productdetail__box--yellow {
  background-color: #f7f5f1;
}

.productdetail__box--yellow:hover {
  transition: 0.5s;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}

.productdetail__box--green {
  background-color: #5e756f;
}

.productdetail__box--green:hover {
  transition: 0.5s;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}

.productdetail__box--pink {
  background-color: #f2e0dc;
}

.productdetail__box--pink:hover {
  transition: 0.5s;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}

.productdetail__operation {
  display: flex;
  gap: 10px;
}

.productdetail__quantity {
  width: 98px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e7e5ea;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.productdetail__number {
  color: #7b88a8;
  padding-left: 34px;
  border: none;
}

.productdetail__increase {
  position: relative;
  top: 7px;
}

.productdetail__reduce {
  position: relative;
  top: -3px;
}

.productdetail__bottom-bf::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #E7E5EA;
  display: block;
}

.productdetail__bottom {
  svg {
    width: 20px;
    height: 18px;
  }
  padding-left: 3px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  gap: 27px;
}

.productdetail__bottom {
  svg:hover {
    path {
      fill: #4f77ff;
    }
  }
}

.productdetail__end {
  border-top: 1px solid #e7e5ea;
  border-bottom: 1px solid #e7e5ea;
}

.productdetail__sectors {
  display: flex;
  gap: 20px;
  padding-top: 13px;
  padding-bottom: 19px;
  color: #2d3958;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.4px;
}

.productdetail__sectors {
  span {
    color: #4f77ff;
  }
}
