.setups {
  padding-bottom: 120px;
  position: relative;
  background-image: url(../img/BGtest.png);
  background-size: 100% 793px;
  background-repeat: no-repeat;
}

.setups__title {
  color: #2d3958;
  text-align: center;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
  padding-top: 120px;
  padding-bottom: 30px;
  @media (max-width: 992px) {
    font-size: 40px;
  }
  @media (max-width: 576px) {
    font-size: 40px;
  }
  @media (max-width: 375px) {
    font-size: 27px;
  }
}

.setups__text {
  color: #7b88a8;
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 100px;
}

.setups__time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-bottom: 100px;
}

.setups__time-text {
  color: #7b88a8;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: -0.3px;
}

.setups__time-save {
  padding: 5px 20px 5px 20px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #34c635;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1/71;
  letter-spacing: -0.3px;
}

.setups__time-save:hover {
  background-color: #207720;
  transition: 0.3s;
}

.setups__item {
  padding: 35px 123px 0px 100px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #e7e5ea;
  background: #fff;
  @media (max-width: 992px) {
    padding: 35px 20px 0px 20px;
  }
  @media (max-width: 375px) {
    padding: 35px 20px 0px 20px;
  }
}

.setups__item-freelance {
  color: #4f77ff;
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
  padding-bottom: 20px;
}

.setups__item-price {
  color: #2d3958;
  text-align: center;
  font-family: Outfit;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: -1px;
}

.setups__item-price span {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -2px;
}

.setups__item-text {
  color: #696871;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  padding: 10px 0px 40px 0px;
  width: 100%;
}

.setups__item-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 58px;
  @media (max-width: 992px) {
    justify-content: center;
    align-items: center;
  }
}

.setups__item-content-item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.setups__item-button {
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  background-color: #4f77ff;
  padding-bottom: 17px;
  flex-shrink: 0;
  border-radius: 0px 0px 10px 10px;
  padding-top: 17px;
}

.setups__item-button:hover {
  background-color: #2b469c;
}

.setups__time-box {
  width: 72px;
  height: 33px;
  flex-shrink: 0;
  background-color: #e7e5ea;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  cursor: pointer;
}

.setups__time-box.moving {
  justify-content: end;
  padding-right: 7px;
  background-color: #7b88a8;
}

.setups__time-box--green {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #34c635;
}

.setups__padding {
  padding-left: 80px;
  padding-right: 80px;
  @media (max-width: 375px) {
    padding: 0;
  }
}

.setups__item-bf {
  position: relative;
}

.setups__item-bf::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #ffc623;
  border-radius: 50px 50px 50px 0px;
  top: 0;
  right: -75px;
  @media (max-width: 375px) {
    width: 0;
    height: 0;
  }
}

.setups__item-content-text {
  color: #2d3958;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  @media (max-width: 375px) {
    font-size: 17px;
  }
}
