.solution {
  padding-top: 120px;
  background: #f8fafc;
  padding-bottom: 140px;
}

.solution__title {
  padding: 0px 196px 90px 196px;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
}

.solution__body-padding {
  padding-top: 28px;
  padding-bottom: 7px;
}
