.solution {
  padding-top: 120px;
  background: #f8fafc;
  padding-bottom: 140px;
}

.solution__title {
  padding: 0px 196px 90px 196px;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -2px;
  @media (max-width: 992px) {
    font-size: 45px;
    padding: 0px 0px 90px 0px;
  }
  @media (max-width: 576px) {
    font-size: 30px;
  }
  @media (max-width: 375px) {
    font-size: 26px;
  }
}

