.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7e5ea;
}

.title--extend {
  padding-bottom: 9px;
  align-items: unset;
}

.title__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.4px;
}
